__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.env
firebase-credentials.json
.DS_Store
.vercel
.csv
CS_Checklist.xlsx
.svg

# Node modules & Tailwind
node_modules/
static/output.css
package-lock.json
